body {
}

.panelWL {
    display:inline-block;
	text-decoration:none;
	color: #000000;
	background-color: #000000;
	border: 2px solid rgb(138, 140, 142); 
	
	/* Borde redondeado */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

    background: rgb(106,107,107); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(106,107,107,1) 0%, rgba(154,154,154,1) 50%, rgba(96,96,96,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(106,107,107,1)), color-stop(50%,rgba(154,154,154,1)), color-stop(100%,rgba(96,96,96,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(106,107,107,1) 0%,rgba(154,154,154,1) 50%,rgba(96,96,96,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(106,107,107,1) 0%,rgba(154,154,154,1) 50%,rgba(96,96,96,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(106,107,107,1) 0%,rgba(154,154,154,1) 50%,rgba(96,96,96,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(106,107,107,1) 0%,rgba(154,154,154,1) 50%,rgba(96,96,96,1) 100%); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a6b6b', endColorstr='#606060',GradientType=0 ); /* IE6-9 */

	/* Shadows */
	text-shadow: 0px -1px 0px rgba(0,0,0,.5);
	/*-webkit-box-shadow: 0px -3px 0px rgb(95, 96, 96), 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px -3px 0px rgb(95, 96, 96), 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px -3px 0px rgb(95, 96, 96), 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);*/

	-webkit-box-shadow: 0px -1px 1px rgb(95, 96, 96), 0px 0px 0px rgb(0, 0, 0), 0px 0px 0px rgb(0, 0, 0), 0px 0px 0px rgb(0, 0, 0), 0px 0px 0px rgb(0, 0, 0);
	-moz-box-shadow: 0px -1px 1px rgb(95, 96, 96), 0px 0px 0px rgb(0, 0, 0), 0px 0px 0px rgb(0, 0, 0), 0px 0px 0px rgb(0, 0, 0), 0px 0px 0px rgb(0, 0, 0) ;
	box-shadow: 0px -1px 1px rgb(95, 96, 96), 0px 0px 0px rgb(0, 0, 0), 0px 0px 0px rgb(0, 0, 0), 0px 0px 0px rgb(0, 0, 0), 0px 0px 0px rgb(0, 0, 0);
}

.fondoVentanaPop {
    background-color: #2c2727;
}

.fondotituloVentanaPop {
    background-color: #d04343;
    border-top-left-radius: 10px;
}

.fondotituloVentanaPopAgregadoDesdePC {
    background-color: #d04343;
    border-top-left-radius: 10px;
}

.tituloVentanaPop {
    font-size: 18px;
    background-color: #191313;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 5px;
}
.tituloVentanaPopAgregado {
    font-size: 18px;
    background-color: #191313;
    color: #fff;

    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}